<li>
    <h4>{{heading}}</h4>
  {{comment.content}} - by {{comment.author}}</li>


<button {{action 'addToList' comment}}>Add to list</button>

<button {{action 'delete' comment}}>Delete Comment</button>
