<li>
  {{#link-to 'question' question.id}}{{question.author}}'s <br> question: {{question.post}} <br> notes: <br> {{question.notes}}{{/link-to}}
  
  {{#if isImageShowing}}
  <p><img src={{question.image}} alt="loading..." {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show image</button>
  {{/if}}
</li>
