{{question.post}},
<hr>
notes:{{question.notes}}
<br>
<p><img src={{question.image}} alt="loading...."></p>

<h2> Comments </h2>
<ul>
  {{#each question.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete</button>
