<li>
  {{question.question}} <br>asked by: {{question.author}}
  {{#if isImageShowing }}
  <p><img src={{question.image}} alt={{question.notes}}  {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show image </button>
  {{/if}}
</li>
