
<h3>It is a Question and Answer Message Board.</h3>

Where all questions are eventually answered.

<h2> The Questions </h2>
<div class="jumbotron">
  <ul>
    {{#each model.questions as |question|}}
      {{question-popularity question}}{{question-tile question=question}}
    {{/each}}
  </ul>

</div>

{{new-question saveQuestion="saveQuestion"}}

<h2> All comments </h2>
<div class="jumbotron">
  <ul>
    {{#each model.comments as |comment|}}
      <li>{{comment.content}} - by {{comment.author}}</li>
    {{/each}}
  </ul>
</div>

<h4> All comment Ratings </h4>
<div class="well">
  <ol>
    {{#each model.ratings as |rating|}}
      <li>By:{{rating.author}} {{rating.credibility}}</li>
    {{/each}}
  </ol>
</div>

{{new-rating saveRating="saveRating"}}

{{#each model as |comment|}}
  {{comment-tile comment=comment}}
{{/each}}



<hr>
