
<h3>It is a Question and Answer Message Board.</h3>

Where all questions are eventually answered.

<h2> The Questions </h2>
<div class="jumbotron">
  <ul>
    {{#each model.questions as |question|}}
       {{question-tile question=question}}
    {{/each}}
  </ul>

</div>

{{new-question saveQuestion="saveQuestion"}}

<h2> All comments </h2>
<div class="jumbotron">
  <ul>
    {{#each model.comments as |comment|}}
      <li>{{comment.content}} - by {{comment.author}}</li>
    {{/each}}
  </ul>
</div>

{{new-comment saveComment="saveComment"}}


<hr>
